#cabezera {
    background-color: #003b95;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

body {
    margin-top: 50px;
    margin-bottom: 80px;
    padding-top: 20px;
    scroll-padding-top: 175px;
    /* Buscado en internet, sirve para que cuando un boton de mueva, lo haga 175px mas abajo de donde esta el punto*/
}

html {
    scroll-padding-top: 175px;
}

#mapa {
    width: 600px;
}

.imagenesCasa {
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 5px;
}

.galeria {
    text-align: center;
}

#pieDePagina {
    background-color: #003b95;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

.navegacion {
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 2.5px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}
.navegacion:hover{
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);    
}
.navegacion:active {
    transform: translateY(-1px);
}
#formularioContacto {
    margin-bottom: 100px;
}

.form {
    width: 15%;
    height: 60px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 10%;
    border: none;
}

/* From Uiverse.io by cssbuttons-io */
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}
